body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: url('dinamologo.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    animation: fadeIn ease 1s;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

nav {
    background-color: rgba(204, 0, 0, 0.9);
    overflow: hidden;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    margin: 0;
}

nav a:hover {
    background-color: #990000;
    color: #fff;
}

.container {
    padding: 20px;
    animation: slideInUp ease 1s;
    min-height: calc(100vh - 160px);
}

@keyframes slideInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.centered-content {
    text-align: center;
}

.image-container {
    margin: 20px auto;
    max-width: 400px;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: rgba(204, 0, 0, 0.9);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    clear: both;
    margin-top: 20px;
    transition: background-color 0.3s;
}

li {
    list-style-type: none; 
}

li p {
    text-decoration: none;
}

.card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
}

input {
    margin-top: 5px;
    padding: 5px;
    width: 200px;
}

button {
    margin-top: 10px;
    padding: 5px;
    width: 100px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}