 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            min-height: 100vh;
            position: relative;
        }

        header {
            background-image: linear-gradient(to right, #cc0000, #cc3333);
            color: white;
            padding: 20px;
            text-align: center;
            border-bottom-left-radius: 50% 20%;
            border-bottom-right-radius: 50% 20%;
        }

        nav {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 5px;
            background-color: #c40000;
            margin-right: 10px;
        }

        nav a:hover {
            background-color: #a30000;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            padding-bottom: 60px;
        }

        .match {
            background-color: #fff;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .team-logo {
            max-width: 50px;
            height: auto;
            margin-left: 20px;
        }

        .match-details {
            flex: 1;
        }

        .match h3 {
            color: #cc0000;
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 20px;
        }

        .match p {
            color: #333;
            line-height: 1.6;
            margin: 5px 0;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
            width: 100%;
            position: absolute;
            bottom: 0;
        }
