body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('logodinamo.png');
    background-size: cover;
    background-position: center;
    color: #333;
}

header {
    background-image: linear-gradient(to right, #cc0000, #cc3333);
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #c40000;
    margin-right: 10px;
}

nav a:hover {
    background-color: #a30000;
}

.container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    color: #cc0000;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input, textarea {
    width: 220%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #cc0000;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #a30000;
}
